<ion-view view-title="Home">
    <ion-content class="content-positive">
        <div class="grid">
            <div class="row row-20">
                <div class="col"><a class="button button-full button-large button-energized icon-right ion-plus-round" href="#/photo" id="create-btn">Create</a></div>
            </div>
            <div class="row row-20">
                <div class="col col-50"><a class="button button-full button-large button-energized icon-top ion-person" href="#" id="sets-btn"><br>My Sets</a></div>
                <div class="col col-50"><a class="button button-full button-large button-energized icon-top ion-bag" href="#" id="market-btn"><br>Marketplace</a></div>
            </div>
        </div>
    </ion-content>
</ion-view>