.spot {
    position: absolute;
    background-color: transparent !important;
    border: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 30px;
    height: 30px;
}

.image-holder {
    display: inline-block;
    position: relative;
}

.image {
    position:absolute;
}

.spot:after {
	background-image: url("img/spot.svg");
    background-size: 20px 20px;
}

.ui-nodisc-icon .ui-btn {
    background-color: #FF6600;
}